<div class="maincontainer">
    <div class="title-container">
        <div class="header2">
            <p3>Gyms and Personal Trainners in your region within 50 miles</p3>
        </div>
    </div>
    <div class="nutritionist-list-container">
        <table class="nutritionist-list-table">
            <thead>
                <tr>
                    <th class="thTable"  >Name</th>
                    <th class="thTable">Address</th>
                    <th class="thTable">Telephone</th>
                    <th class="thTable">Rating</th>
                    <th class="thTable">Select</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in vm.businessesArray">
                    <td class="tdTable">{{obj.name}}</td>
                    <td class="tdTable">{{obj.location.display_address[0]}} {{obj.location.display_address[1] }}</td>
                    <td class="tdTable">{{obj.display_phone}}</td>
                    <td class="tdTable"><img ng-src="{{obj.rating}}"></td>
                    <td class="tdTable"><input type="checkbox" ng-click="vm.selectFunction(obj)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="save-plan-button save-personal-trainer-button-container">
        <div class="save-plan-wrapper save-personal-trainer-wrapper">
            <input type="button" value="BACK" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Back')">
            <input type="button" value="SAVE" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Save')">
        </div>
    </div>
</div>