<div class="maincontainer">
    <div class="workout-option">
        <div class="title-container">
            <div class="header2">
                <!--<p3>Best Gyms in your region within 20 miles</p3>-->
                <span class="choose-method">Best Gyms in your region within 20 miles</span>
            </div>
        </div>
        <div class="gym-list-container">
            <table class="gym-list-table">
                <thead>
                    <tr>
                        <th class="thTable">Name</th>
                        <th class="thTable">Address</th>
                        <th class="thTable">Telephone</th>
                        <th class="thTable">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tdTable">Planet Fitness</td>
                        <td class="tdTable">12 Bergen Street NY 10082</td>
                        <td class="tdTable">356-783-2345</td>
                        <td class="tdTable">
                            <input type="checkbox" name="gym-checkbox-1" id="gym-checkbox-1" class="gym-checkbox">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTable">Workout Here</td>
                        <td class="tdTable">2 West Madision Street Bayonne NJ 07002</td>
                        <td class="tdTable">450-902-3512</td>
                        <td class="tdTable">
                            <input type="checkbox" name="gym-checkbox-2" id="gym-checkbox-2" class="gym-checkbox">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="workout-option">
        <div class="title-container">
            <div class="header2">
                <!--<p3>Best Personal Trainers in your region within 20 miles</p3>-->
                <span class="choose-method">Best Personal Trainers in your region within 20 miles</span>
            </div>
        </div>
        <div class="personal-trainer-list-container">
            <table class="personal-trainer-list-table">
                <thead>
                    <tr>
                        <th class="thTable">Name</th>
                        <th class="thTable">Address</th>
                        <th class="thTable">Telephone</th>
                        <th class="thTable">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tdTable">Thomas Louis</td>
                        <td class="tdTable">12 Bergen Street NY 10082</td>
                        <td class="tdTable">356-783-2345</td>
                        <td class="tdTable">
                            <input type="checkbox" name="personal-trainer-checkbox-1" id="personal-trainer-checkbox-1" class="personal-trainer-checkbox">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTable">Robert The Boss</td>
                        <td class="tdTable">2 West Madision Street Bayonne NJ 07002</td>
                        <td class="tdTable">450-902-3512</td>
                        <td class="tdTable">
                            <input type="checkbox" name="personal-trainer-checkbox-2" id="personal-trainer-checkbox-2" class="personal-trainer-checkbox">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="save-plan-button save-personal-trainer-button-container">
        <div class="save-plan-wrapper save-personal-trainer-wrapper">
            <input type="button" value="Save" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Save')">
            <input type="button" value="Back" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Back')">
        </div>
    </div>
</div>
