<div class="meet-a-nutritionist">
    <div class="title-container">
        <div class="header">
            <h2>Nutritionists in your region within 20 miles</h2>
        </div>
    </div>
    <div class="nutritionist-list-container">
        <table class="nutritionist-list-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Telephone</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>12 Bergen Street NY 10082</td>
                    <td>356-783-2345</td>
                    <td>
                        <input type="checkbox" name="nutritionist-checkbox-1" id="nutritionist-checkbox-1" class="nutritionist-checkbox">
                    </td>
                </tr>
                <tr>
                    <td>Jack Sue</td>
                    <td>2 West Madision Street Bayonne NJ 07002</td>
                    <td>450-902-3512</td>
                    <td>
                        <input type="checkbox" name="nutritionist-checkbox-2" id="nutritionist-checkbox-2" class="nutritionist-checkbox">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="save-plan-button save-nutritionist-button-container">
        <div class="save-plan-wrapper save-nutritionist-wrapper">
            <input type="button" value="SAVE" name="save-nutritionist" class="save-nutritionist">
        </div>
    </div>
</div>
