<!-- <div style="text:align:center">
    <fieldset>
        <label>Sign-in or Register to save your plan</label>
    </fieldset>
    <fieldset>
        <legend>Sign in</legend> Username:
        <br>
        <input type="text" name="" value="username">
        <br> Password:
        <br>
        <input type="password" name="" value="password">
        <br>
        <input type="button" value="Sign in">
        <br> <a href="">Forgot Password?</a> </fieldset>
    <fieldset>
        <legend>New User</legend>
        <input type="button" value="Register">
        <br> </fieldset>
</div> -->
<div class="welcome-plans">
    <div class="title-container">
        <div class="header">
            <h1>Welcome to Burn It!</h1></div>
    </div>
    <div class="title-container">
        <div class="header">
            <div class="result-container">
                <span class="result">You are overweight!</span>
            </div>
            <div class="weight-difference-container">
                <span class="weight-difference">20 lbs</span>
            </div>
        </div>
    </div>
    <div class="lose-method-choice-container">
        <div class="choose-method-container">
            <span class="choose-method">Choose your method to lose weight</span>
        </div>
        <div class="choose-fitness-method-buttons-container">
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="meet-nutritionist" class="choose-fitness-method-input meet-nutritionist" value="Meet a Nutritionist">
            </div>
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="build-diet-plan" class="choose-fitness-method-input build-diet-plan" value="Build Your Own Diet Plan">
            </div>
        </div>
        <div class="choose-fitness-method-buttons-container">
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="work-out" class="choose-fitness-method-input work-out" value="Work Out">
            </div>
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="keep-track-of-food" class="choose-fitness-method-input keep-track-of-food" value="Keep Track of your Food">
            </div>
        </div>
    </div>
    <div class="save-plan-button">
        <div class="save-plan-wrapper">
            <input type="button" value="Save your Plan" name="save-plan" class="save-plan">
        </div>
    </div>
</div>
