
    <div class="title-container">
        <div class="header">
            <h1>Welcome to Burn It!</h1>
        </div>
        <div class="welcomelogin2">
        <input type="button" value="Sign In" name="submit-button"  ng-click="vm.route('login')">
         <input type="button" value="Register" name="submit-button"  ng-click="vm.route('register')">
        </div>
     </div><!--
    <div class="welcomelogin">
        <input type="button" value="Sign In" name="submit-button" class="submit-button2" ng-click="vm.route('login')">
     </div>-->


    <div class="loginContainer">
        <form>
            <input type="text" name="zip-code" class="zip-code-input input-field" placeholder="Zip Code" ng-model="vm.person.zipcode">
            <input type="number" name="age" class="age-input input-field" placeholder="Age 18-100" min="18" max="100" ng-model="vm.person.age">
            <select class="gender-select-input input-field" ng-model="vm.person.gender" ng-options="g as g for g in vm.genders"></select>
            <input type="number" name="weight" class="weight-input input-field" placeholder="Weight in Kg Ex: 80" ng-model="vm.person.weight">
            <input type="number" name="height" class="height-input input-field" placeholder="Height in cm Ex: 170" ng-model="vm.person.height">
            <input type="button" value="Check Your BMI" name="submit-button" class="submit-button input-field" ng-click="vm.route('bmi')">
        </form>
    </div>
