

<!--
<div class="meet-a-nutritionist">
    <div class="title-container">
        <div class="header">
            <h2>Nutritionists in your region within 20 miles</h2>
        </div>
    </div>
    <div class="nutritionist-list-container">
        <table class="nutritionist-list-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Telephone</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>12 Bergen Street NY 10082</td>
                    <td>356-783-2345</td>
                    <td>
                        <input type="checkbox" name="nutritionist-checkbox-1" id="nutritionist-checkbox-1" class="nutritionist-checkbox">
                    </td>
                </tr>
                <tr>
                    <td>Jack Sue</td>
                    <td>2 West Madision Street Bayonne NJ 07002</td>
                    <td>450-902-3512</td>
                    <td>
                        <input type="checkbox" name="nutritionist-checkbox-2" id="nutritionist-checkbox-2" class="nutritionist-checkbox">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="save-plan-button save-nutritionist-button-container">
        <div class="save-plan-wrapper save-nutritionist-wrapper">
            <input type="button" value="SAVE" name="save-nutritionist" class="save-nutritionist">
        </div>
    </div>
</div>
-->


<div>
	<div class="title-container">
		<div class="header"><h1>Welcome to Burn It!</h1></div>
	</div>
	<div class="form-container">
		<form>
			<input type="text" name="zip-code" class="zip-code-input input-field" placeholder="Zip Code">
			<input type="number" name="age" class="age-input input-field" placeholder="Age" min="18" max="100">
			<select class="gender-select-input input-field">
				<option value="select-gender">Select your gender</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
			<input type="number" name="weight" class="weight-input input-field" placeholder="Weight in lbs">
			<input type="number" name="height" class="height-input input-field" placeholder="Height in metres">
			<input type="button" value="SUBMIT" name="submit-button" class="submit-button input-field">
		</form>
	</div>
</div>
 

  








<!--<div >-->
    <!--<div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>-->
   <!-- <div class="container-fluid" ng-controller="login" style="text:align:center">
        <div class="title-container">
            <label>Sign-in or Register to save your plan</label>
        </div> 
        <div class="form-container"> 
            <fieldset>   
                <legend>Sign in</legend> Username:
                <br>   
                <input type="text" name="" value="username">      
                <br> Password: 
                <br>        
                <input type="password" name="" value="password">    
                <br>   
                <button class="md-button " ng-disabled="error || incomplete "> Sign In</button>
                <br> <a href="">Forgot Password?</a> </fieldset>   
          
    <div> 
          
            <legend>New User</legend>
             <button class="md-button " ng-disabled="error || incomplete "> Register</button>-->
             
             <!--<button class="w3-btn w3-blue w3 " ng-disabled="error || incomplete"> Register</button>-->
             
            <!--<button class="btn btn-default blue text-white" ng-click="addItem()">Register</button>-->   
              
<!--    </div>
</div> -->  
<!--<div class="jumbotron text-center"> 
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
    </p>
  </div>-->
<!--<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>--></div>