

.thTable,
.tdTable {
    border: 1px solid black;
}
.table table-hover tbody tr.highlight td {
    background-color: red;
}
.thTable,
.tdTable {
    padding: 16px !important;
    /*normalize.scss was overrriding padding to be 0*/
}

.image {
  width: 250px;
  float: left;
  margin: 20px;
}
body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  .th {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  .td {font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}


    .title-container,
.save-plan-button {
    text-align: center;
}

.header {
    display: inline-block;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid #6C8EBF;
    border-radius: 12px;
    background-color: #B4CCF0;
    background: -webkit-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #B4CCF0);
    /* Standard syntax */
}

.header23 {
    display: inline-block;
    width: 350px;
    height: 50px;
    padding-left: 64px;
    padding-right: 64px;
    /*margin-top: 32px;*/
    /*margin-bottom: 32px;*/
    border: 1px solid #6C8EBF;
    /* border-radius: 12px;*/
    background-color: #B4CCF0;
    background: -webkit-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #B4CCF0);
    /* Standard syntax */
}

.form-container,
.lose-method-choice-container {
    width: 750px;
    /*height: 50px;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #6C8EBF;
    border-radius: 35px;
    background-color: #7FA7E0;
    background: -webkit-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #7FA7E0);
    /* Standard syntax */
}

.form-container2 {
    width: 750px;
    /*height: 50px;*/
    margin-left: 700px;
    margin-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #6C8EBF;
    border-radius: 35px;
    background-color: #7FA7E0;
    background: -webkit-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #7FA7E0);
    /* Standard syntax */
}

.lose-method-choice-container2 {
    width: 750px;
    /*height: 50px;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #6C8EBF;
    border-radius: 2px;
}



.signUp {
    /* padding-top: 10px;*/
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.loginbloc {
    width: 350px;
    height: 400px;
    padding-top: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}

.loginContainer {
    width: 750px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 40px;*/
    border: 1px solid #6C8EBF;
    border-radius: 35px;
    background-color: #7FA7E0;
    background: -webkit-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #7FA7E0);
    /* Standard syntax */
}

.input-field {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 32px;
}

.submit-button {
    border-radius: 5px;
}

.welcomelogin {
    margin-left: 1000px;
}

.welcomelogin2 {
    margin-left: 1100px;
}

.submit-button2 {
    border-radius: 10px;
    margin-left: 223px;
    margin-right: auto;
    margin-top: 23px;
    margin-bottom: auto;
}

.maincontainer2 {
    border: 2px solid #a1a1a1;
    /*padding: 120px 40px;*/
    padding-top: 50px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width:800px;
    height: 750px;
    border-style: solid;
    border-color: #7EA6E0;
    border-width: 25px;
    margin-top: 50px;
    top: 30px;
}

.maincontainer {
    border: 2px solid #a1a1a1;
    /*padding: 120px 40px;*/
    padding-top: 50px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
    height: 750px;
    border-style: solid;
    border-color: #7EA6E0;
    border-width: 25px;
    margin-top: 50px;
    top: 30px;
}
.maincontainer3 {
    border: 2px solid #a1a1a1;
    /*padding: 120px 40px;*/
    padding-top: 50px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 1050px;
    height: 550px;
    border-style: solid;
    border-color: #7EA6E0;
    border-width: 25px;
    margin-top: 50px;
    top: 30px;
}
.maincontainer4 {
    border: 2px solid #a1a1a1;
    /*padding: 120px 40px;*/
    padding-top: 50px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 550px;
    height: 650px;
    border-style: solid;
    border-color: #7EA6E0;
    border-width: 25px;
    margin-top: 50px;
    top: 30px;
}
.buttonPosition{

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 2050px;

}
.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    background: #7EA6E0;
}

.btn {
    font-weight: bold !important;
}

.save-plan-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.save-plan,
.save-nutritionist,
.save-work-out-plan,
.save-nutritionists-setting,
.edit-nutritionists-list {
    border-radius: 5px;
    background-color: #008CFF;
    color: #FFF;
    padding: 16px;
    width: 90px;
    /* height: 30px;*/
}

.save-plan2 {
    border-radius: 5px;
    background-color: #008CFF;
    color: #FFF;
    padding: 16px;
    /*width: 90px;*/
    /* height: 30px;*/
}

.save-plan-button {
    margin-top: 24px;
    margin-bottom: 24px;
}

.header2,
.header2 .result-container,
.choose-method-container {
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px 48px;
    border: 1px solid #000;
    background-color: #B4CCF0;
    border-radius: 5px;
}

.weight-difference-container {
    margin-top: 16px;
    margin-bottom: 32px;
    background-color: #FFF;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #000;
}


/*
{
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px 48px;
    border: 1px solid #000;


}
*/

.choose-method-container {
    text-align: center;
    border: none;
}

.result {}

.weight-difference {}

.choose-method {
    border: 1px solid;
    padding: 20px;
    margin-right: 23px;
}

.choose-fitness-method-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px
}

.choose-fitness-method-button-wrapper {
    display: inline-block;
}

.choose-fitness-method-input {
    width: 240px;
    height: 40px;
    border-radius: 5px;
}

.meet-nutritionist {}

.build-diet-plan {}

.work-out {}

.keep-track-of-food {}

.nutritionist-list-table,
.gym-list-table,
.personal-trainer-list-table {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.planing-list-table,
 {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    margin-bottom: 48px;
}
.planing-list-table
.nutritionist-list-table,
.gym-list-table,
.personal-trainer-list-table,
.tdresults {
    border: 1px solid black;
}
.nutritionist-list-container{
  margin-bottom: 20px;
}

.tdresults,
{   border: 1px solid black;
    padding: 16px !important;
    width: 250px;
}
.tbresults{
   border: 1px solid black;
    padding: 16px !important;
    width: 600px;

}
.user-image {
    width: 120px;
    height: 120px;
}

.user-image-container,
.user-personal-info-container {
    display: inline-block;
    border: 1px solid #000;
    /*position: absolute;*/
}

.user-info-container {
    text-align: center;
    margin-bottom: 64px;
}

.user-personal-info-container {
    margin-left: 40px;
}

.user-image-container {
    margin-right: 40px;
}

.physical-parameters {
    display: inline-block;
}

.user-personal-info-row {
    border: 1px solid #000;
    margin: 20px;
    padding: 5px;
}

.physical-parameters-row {
    display: flex;
    justify-content: space-around;
}

.physical-parameters {}

.user-profile-options {}

.workout-option {
    margin-bottom: 64px;
}

.outerbox {
    background: #2172ad;
    padding: 10px;
    width: 900px;
    height: 500px;
    margin-top: inherit;
    margin-left: auto;
    margin-right: auto;
}

.innerbox {
    background: #ffffff;
    width: inherit;
    height: inherit;
}

.builddietplan {
    /*position: absolute;*/
    background: #DAE8FC;
    border: 2px solid #6C8EBF;
    width: 200px;
    height: 50px;
    top: 50px;
    bottom: 500px;
    left: 42%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    text-align: center;
}

.innerwhitebox {
    position: absolute;
    background: #ffffff;
    border: 2px solid #000000;
    width: 600px;
    height: 300px;
    top: 150px;
    bottom: 200px;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    /* margin-bottom: 48px;*/
    text-align: center;
}

.foodname {
    border-radius: 10px;
    position: absolute;
    background: #ffffff;
    border: 2px solid #000000;
    width: 240px;
    height: 60px;
    top: 30%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.maxcalorieslabel {
    position: absolute;
    top: 12%;
    left: 54%;
}

.caloriebox {
    position: absolute;
    border: 2px solid #000000;
    width: 70px;
    height: 30px;
    top: 10%;
    left: 85%;
}

.searchbutton {
    border-radius: 5px;
    color: white;
    position: absolute;
    background: #008CFF;
    font: 16px;
    border: 2px solid #000000;
    top: 70%;
    left: 25%;
    height: 11%;
    width: 20%;
    text-decoration-color: white;
}

.searchbutton2 {
    border-radius: 5px;
    color: white;
    position: absolute;
    background: #008CFF;
    font: 16px;
    border: 2px solid #000000;
    top: 70%;
    left: 50%;
    height: 11%;
    width: 20%;
    text-decoration-color: white;
}

.contentcaloriebox {
    position: absolute;
    border: 2px solid #000000;
    top: 69%;
    left: 52%;
    height: 11%;
    width: 20%;
    text-decoration-color: white;
}

.addbutton {
    border-radius: 5px;
    position: absolute;
    background: #008CFF;
    font: 16px;
    color: white;
    border: 2px solid #000000;
    top: 87%;
    left: 52%;
    height: 11%;
    width: 20%;
    text-decoration-color: white;
}
.savecalbutton {
    border-radius: 5px;
    position: absolute;
    background: #008CFF;
    font: 16px;
    color: white;
    border: 2px solid #000000;
    top: 87%;
    left: 25%;
    height: 11%;
    width: 20%;
    text-decoration-color: white;
}

.savebutton,
.previewbutton,
.editbutton {
    border-radius: 7px;
    position: absolute;
    background: #008CFF;
    color: white;
    height: 5%;
    width: 10%;
    font: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.savebutton {
    left: 35%;
    top: 80%;
}


.savebutton2 {
    border-radius: 7px;
    position: absolute;
    background: #008CFF;
    color: white;
    height: 5%;
    width: 10%;
    font: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 235px;
}


.deletebutton {
    border-radius: 7px;
    position: absolute;
    background: #008CFF;
    color: white;
    height: 5%;
    width: 10%;
    font: 16px;
    margin-top:1px;
    margin-bottom: 35px;
    margin-left: 535px;
}


.previewbutton {
    left: 50%;
    top: 80%;
}

.editbutton {
    left: 64%;
    top: 80%;
}

.deitbuttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 570px;
    margin-bottom: 5px;
    text-align: center;
}
.deitbuttons2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.outerbox2 {
    background: linear-gradient(to top, #2172ad, #DAE8FC);
    padding: 10px;
    width: 900px;
    height: 700px;
    margin-top: inherit;
    margin-left: auto;
    margin-right: auto;
}

.innerbox2 {
    background: #ffffff;
    padding: 10px;
    position: absolute;
    border: 2px solid #000000;
    top: 10%;
    left: 30%;
    padding: 20px;
    width: 400px;
    height: 500px;
}

#textbox2 {
    height: 10%;
    width: 350px;
    margin-bottom: 5px;
}

.signupbutton2 {
    border-radius: 7px;
    background: #6C8EBF;
    color: white;
    height: 30px;
    width: 90px;

}

.signupbutton3 {
    border-radius: 7px;
    background: #DAE8FC;
    color: white;


}

.profilebox2 {
    border: 1px solid #000000;
    height: 100px;
    width: 150px;
    margin-left: 700px;
    margin-bottom: 5px;
}

.picture {
    margin-left: auto;
    margin-top: : 150px;
    margin-right: 50px;
    margin-bottom: 5px;
}

.uploadbutton2 {
    border: 1px solid #B3B3B3;
    left: 65%;
    width: 80px;
    height: 5%;
    font-size: 16px;
    margin-left: 700px;
    margin-top: : 700px;
    text-align: center;
}

.innerwhitebox2 {
    position: absolute;
    background: #ffffff;
    border: 2px solid #000000;
    width: 530px;
    height: 300px;
    top: 50px;
    bottom: 200px;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

.innerwhitebox3 {
    position: absolute;
    background: #ffffff;
    border: 2px solid #000000;
    width: 330px;
    height: 400px;
    top: 120px;
    bottom: 200px;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}



.breakfast {
    border-radius: 10px;
    background: #DAE8FC;
    border: 1px solid #6C8EBF;
    width: 240px;
    height: 60px;
    top: 83%;
    left: 26%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
}
.firstsnack {
    border-radius: 10px;
    background: #ffffff;
    border: 2px solid #000000;
    width: 230px;
    height: 50px;
    top: 31%;
    left: 27%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
}
.lunch {
    border-radius: 10px;
    background: #DAE8FC;
    border: 1px solid #6C8EBF;
    width: 240px;
    height: 60px;
    top: 48%;
    left: 26%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}
.secondsnack {
    border-radius: 10px;
    background: #ffffff;
    border: 2px solid #000000;
    width: 230px;
    height: 50px;
    top: 67%;
    left: 27%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
}
.dinner {
    border-radius: 10px;
    background: #DAE8FC;
    border: 1px solid #6C8EBF;
    width: 240px;
    height: 60px;
    top: 48%;
    left: 26%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

/*this is the loader, to call the loader we use .loader class */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*the loader end here. */
.vertical-menu {
    width: 200px;
    margin-left: 500px;
    margin-top: 120px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #6C8EBF;
    color: white;
}

.nutriFactCont{
  margin-left: 200px;
}

.edit-nutritionists-list {
    background: -webkit-linear-gradient(#F7C8C6, #B85450);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F7C8C6, #B85450);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F7C8C6, #B85450);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F7C8C6, #B85450);
    /* Standard syntax */
}
