.title-container,
.save-plan-button {
    text-align: center;

}

.header {
    display: inline-block;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid #6C8EBF;
    border-radius: 12px;
    background-color: #B4CCF0;
    background: -webkit-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #B4CCF0);
    /* Standard syntax */
}

.header23 {
    display: inline-block;
    width: 350px;
    height: 50px;
    padding-left: 64px;
    padding-right: 64px;
    /*margin-top: 32px;*/
    /*margin-bottom: 32px;*/
    border: 1px solid #6C8EBF;
   /* border-radius: 12px;*/
    background-color: #B4CCF0;
    background: -webkit-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #B4CCF0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #B4CCF0);
    /* Standard syntax */
}

.form-container,
.lose-method-choice-container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #6C8EBF;
    border-radius: 35px;
    background-color: #7FA7E0;
    background: -webkit-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAE8FC, #7FA7E0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAE8FC, #7FA7E0);
    /* Standard syntax */
}



.input-field {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 32px;
}

.submit-button {
    border-radius: 5px;
}

.maincontainer {
    border: 2px solid #a1a1a1;
    padding: 120px 40px;
    background: #ffffff;
    margin-left: auto ;
    margin-right: auto ;
    width: 750px;
    height: 850px;
    border-style: solid;
    border-color: #7EA6E0;
    border-width: 25px;
    margin-top: 50px;
    
    top: 30px;
}

.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    background: #7EA6E0;
}

.btn {
    font-weight: bold !important;
}

.save-plan-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.save-plan,
.save-nutritionist,
.save-work-out-plan {
    border-radius: 5px;
    background-color: #008CFF;
    color: #FFF;
    padding: 16px;
    width: 90px;
   /* height: 30px;*/
}

.save-plan2 {
    border-radius: 5px;
    background-color: #008CFF;
    color: #FFF;
    padding: 16px;
    /*width: 90px;*/
   /* height: 30px;*/
}

.save-plan-button {
    margin-top: 24px;
    margin-bottom: 24px;
}
.header2
.result-container,
.choose-method-container {
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px 48px;
    border: 1px solid #000;
    background-color: #B4CCF0;
}

.weight-difference-container {
    margin-top: 16px;
    margin-bottom: 32px;
    background-color: #FFF;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #000;
}

/*
{
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px 48px;
    border: 1px solid #000;
    
   
}
*/




.choose-method-container {
    text-align: center;
    border: none;
}

.result {}

.weight-difference {}

.choose-method {
    border: 1px solid;
    padding: 20px;
}

.choose-fitness-method-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px
}

.choose-fitness-method-button-wrapper {
    display: inline-block;
}

.choose-fitness-method-input {
    width: 240px;
    height: 40px;
    border-radius: 5px;
}

.meet-nutritionist {}

.build-diet-plan {}

.work-out {}

.keep-track-of-food {}

.nutritionist-list-table,
.gym-list-table,
.personal-trainer-list-table {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.nutritionist-list-table,
.gym-list-table,
.personal-trainer-list-table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 16px !important; /*normalize.scss was overrriding padding to be 0*/
}

.workout-option {
    margin-bottom: 64px;
}