<div class="maincontainer">
    <!-- <div class="title-container container"> -->
    <div class="title-container">
        <div class="header2">
            <h3>Your favorite nutritionists</h3>
        </div>
    </div>
    <div class="nutritionist-list-container">
        <table class="nutritionist-list-table">
            <thead>
                <tr>
                    <th class="thTable">Name</th>
                    <th class="thTable">Address</th>
                    <th class="thTable">Telephone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdTable" >John Doe</td>
                    <td class="tdTable" >12 Bergen Street NY 10082</td>
                    <td class="tdTable" >356-783-2345</td>
                </tr>
                <tr>
                    <td class="tdTable">Jane Doe</td>
                    <td class="tdTable">2 West Madison Street Bayonne NY 07002</td>
                    <td class="tdTable">356-783-2345</td>
                </tr>
                <!--<tr>
                    <td class="tdTable">Jack Sue</td>
                    <td class="tdTable">2 West Madision Street Bayonne NJ 07002</td>
                    <td class="tdTable">450-902-3512</td>
                    <td class="tdTable">
                        <input type="checkbox" name="nutritionist-checkbox-2" id="nutritionist-checkbox-2" class="nutritionist-checkbox">
                    </td>
                </tr>-->
            </tbody>
        </table>
    </div>
    <div class="save-plan-button save-personal-trainer-button-container">
        <div class="save-plan-wrapper save-personal-trainer-wrapper">
            <input type="button" name="save-nutritionists-list" class="save-nutritionists-setting" ng-click="vm.route('NutritionistsSave')" value="Save">
            <input type="button" name="edit-nutritionists-list" class="edit-nutritionists-list" ng-click="vm.route('NutritionistsEdit')" value="Edit">
<!--             <input type="button" value="BACK" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Back')">
            <input type="button" value="SAVE" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Save')"> -->
        </div>
    </div>
</div>