<div class="maincontainer">
    <!-- <div class="title-container container"> -->
    <div class="title-container">
        <div class="header2">
            <h3>Your diet plan this week</h3>
        </div>
    </div>
    <div class="nutritionist-list-container">
        <table class="nutritionist-list-table">
            <thead>
                <tr>
                    <th class="thTable">Day</th>
                    <th class="thTable">Food</th>
                    <th class="thTable">Total Calories</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdTable">Monday</td>
                    <td class="tdTable">
                        <ol>
                            <li>Eggs</li>
                            <li>Tuna Fish</li>
                            <li>Vegetables</li>
                        </ol>
                    </td>
                    <td class="tdTable">1200</td>
                </tr>
                <tr>
                    <td class="tdTable">Tuesday</td>
                    <td class="tdTable">
                        <ol>
                            <li>3 Eggs</li>
                            <li>1 Big Mac</li>
                            <li>1 Bacon Strip</li>
                        </ol>
                    </td>
                    <td class="tdTable">1800</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="save-plan-button save-personal-trainer-button-container">
        <div class="save-plan-wrapper save-personal-trainer-wrapper">
            <input type="button" name="go-back-diet-plan" class="save-nutritionists-setting" ng-click="vm.route('DietPlanExit')" value="Back">
            <input type="button" name="edit-diet-plan" class="edit-nutritionists-list" ng-click="vm.route('DietPlanEdit')" value="Edit">
<!--             <input type="button" value="BACK" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Back')">
            <input type="button" value="SAVE" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Save')"> -->
        </div>
    </div>
</div>