
   <div class="title-container">
        <div class="header">
            <h3>Sign-in or Register to save your plan</h3>
        </div>
    </div>

   <div class="loginContainer">
       <div class="loginbloc">
        <fieldset >
            <legend>Sign in</legend> Username:
            <br>
            <input type="text" name="" value="username">
            <br> Password:
            <br>
            <input type="password" name="" value="password">
            <br>
            <input type="button" value="SignIn" ng-click="vm.route('SignIn')">
            <br> <a href="/#!/profile" ng-click="vm.route('Fpassword')">Forgot Password?</a> 
       </fieldset>
           <div class="signUp" >
           <fieldset >
            <legend>New User</legend>
            <input type="button" value="Register" ng-click="vm.route('Register')">
            <br>
           </fieldset>
           </div>
    </div>
   </div>
