<div id="outerbox2">
    <div id="innerbox2">
        <input type="text" placeholder="First name" id="textbox2">
        <input type="text" placeholder="Last name" id="textbox2">
        <input type="text" placeholder="Address" id="textbox2">
        <input type="text" placeholder="UserName" id="textbox2">
        <input type="text" placeholder="Password" id="textbox2">
        <input type="text" placeholder="Re-enter Password" id="textbox2"> </div>
    <input type="button" value="Sign Up" id="signupbutton2" ng-click="vm.route('signup')"> 
    <img src="profile.png" id="profilebox2">
    <input type="button" id="uploadbutton2" value="Upload picture"> 
</div>