<div class="outerbox2">
    <div class="innerbox2">
        <input type="text" placeholder="First name" id="textbox2">
        <input type="text" placeholder="Last name" id="textbox2">
        <input type="text" placeholder="Address: Stree City State Zip Code" id="textbox2">
        <input type="text" placeholder="Phone Number" id="textbox2">
        <input type="text" placeholder="User Name" id="textbox2">
        <input type="text" placeholder="Password" id="textbox2">
        <input type="text" placeholder="Re-enter Password" id="textbox2"> 
    <div>
        <input type="button" value="Sign Up" class="signupbutton2" ng-click="vm.route('signup')">
    <input type="button" value="Sign In" class="signupbutton2" ng-click="vm.route('back')">
    </div>
    
    </div>
    <div class ="picture">
    <img src="profile.png" class="profilebox2">
    <input type="button" class="uploadbutton2" value="Upload picture"> 
    </div>
    
</div>