<!--<div class="welcome-plans">-->
<div class="maincontainer">

    <div class="nutritionist-list-container">
        <table class="planing-list-table">
            <thead>
                <tr>
                    <th class="tdresults">Body Mass  Index Details</th>
                    <th class="tbresults">Analysis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdresults">Status</td>
                    <td class="tbresults" ng-bind="vm.status"></td>

                </tr>
                <tr>
                    <td class="tdresults">Risk </td>
                    <td class="tbresults" ng-bind="vm.risk"></td>

                </tr>
                <tr>
                    <td class="tdresults">Current weight</td>
                    <td class="tbresults" ng-bind="vm.weight"></td>

                </tr>
                <tr>
                    <td class="tdresults">Ideal Weight</td>
                    <td class="tbresults" ng-bind="vm.ideslWeight"></td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="lose-method-choice-container">
        <div class="choose-method-container">
            <span class="choose-method">Customize Your Health Resolution Plan</span>
        </div>
        <div class="choose-fitness-method-buttons-container">
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="meet-nutritionist" class="choose-fitness-method-input meet-nutritionist" value="Meet a Nutritionist" ng-click="vm.route('nutritionists')">
            </div>
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="build-diet-plan" class="choose-fitness-method-input build-diet-plan" value="Build Your Own Diet Plan"
                       ng-click="vm.route('diet')">
            </div>
        </div>
        <div class="choose-fitness-method-buttons-container">

            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="work-out" class="choose-fitness-method-input work-out" value="Work Out"
                        ng-click="vm.route('workout')">
            </div>
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="keep-track-of-food" class="choose-fitness-method-input keep-track-of-food" value="Keep Track of your Food" ng-click="vm.route('nutritionfacts')">
            </div>
        </div>
    </div>
    <div class="save-plan-button">
        <div class="save-plan-wrapper">
            <input type="button" value="Save your Plan" name="save-plan" class="save-plan2" ng-click="vm.route('login')">
            <input type="button" value="BACK" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Back')">
        </div>
    </div>
</div>
