<div class="welcome-plans">
    <!--<div class="title-container">
        <div class="header">
            <h1>Welcome to Burn It!</h1>
        </div>
    </div>-->
    <div class="title-container">
        <div class="header">
            <div class="result-container">
                <span class="result">You are overweight!</span>
            </div>
            <div class="weight-difference-container">
                <span class="weight-difference">20 lbs</span>
            </div>
        </div>
    </div>
    <div class="lose-method-choice-container">
        <div class="choose-method-container">
            <span class="choose-method">Choose your method to lose weight</span>
        </div>
        <div class="choose-fitness-method-buttons-container">
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="meet-nutritionist" class="choose-fitness-method-input meet-nutritionist" value="Meet a Nutritionist">
            </div>
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="build-diet-plan" class="choose-fitness-method-input build-diet-plan" value="Build Your Own Diet Plan">
            </div>
        </div>
        <div class="choose-fitness-method-buttons-container">
            
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="work-out" class="choose-fitness-method-input work-out" value="Work Out" 
                       ng-click="vm.sendWorkout()">
            </div>
            
            
            <div class="choose-fitness-method-button-wrapper">
                <input type="button" name="keep-track-of-food" class="choose-fitness-method-input keep-track-of-food" value="Keep Track of your Food">
            </div>
        </div>
    </div>
    <div class="save-plan-button">
        <div class="save-plan-wrapper">
            <input type="button" value="Save your Plan" name="save-plan" class="save-plan2">
        </div>
    </div>
</div>