<div class="outerbox">
    <div class="innerbox">           
     <p class="builddietplan">
           Build your diet plan
    </div>
    <div class="innerwhitebox">
         <input type="text" class="foodname">
         <label class="maxcalorieslabel">Total max calories</label>
         <div class="caloriebox"></div>
         <input type="button" class="searchbutton" value="Search">
         <div class="contentcaloriebox">                 
         </div>
          <input type="button" class="addbutton" value="ADD">
    </div>
    <div>
        <input type="button" class="savebutton" value="Save">
          <input type="button" class="previewbutton" value="Preview">
          <input type="button" class="editbutton" value="Edit">
    </div>
          
</div>
