<div class="maincontainer3">
    <div id="innerbox">
        <p id="builddietplan"> Build your diet plan</p>
    </div>
    <div id="innerwhitebox">
        <label id="daylabel">Tuesday</label>
        <lable id="breakfast"> Breakfast
            <br>Max 500 Calories</lable>
        <label id="firstsnack"> <b>First Snack Max</b>
            <br>200 calories</label>
        <lable id="lunch"> Lunch
            <br>Max 500 Calories</lable>
        <label id="secondsnack"><b>Second Snack Max</b>
            <br>200 calories</label>
        <lable id="Dinner"> Dinner
            <br>Max 500 Calories</lable>
    </div>
     <div class="buttonPosition">
        <div class="save-plan-wrapper save-personal-trainer-wrapper">
          <input type="button" value="Save" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('save')">
          <input type="button" value="Preview" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('preview')">
          <input type="button" value="Edit" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Edit')">
          <input type="button" value="Back" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('Back')">
        </div>
    </div>
</div>