<!--<div class="maincontainer3">-->
<!--<div class="innerbox">
        <p class="builddietplan"> Build your diet plan</p>
    </div>-->
<div class="maincontainer">
    <div class="workout-option">
        <div class="title-container">
            <div class="header2">
                <!--<p3>Best Gyms in your region within 20 miles</p3>--><span class="choose-method">Build your diet plan</span> </div>
        </div>
        <div>
            <div class="innerwhitebox3">
                <input type="button" value="Breakfast Max 500 Calories" name="breakfast" class="breakfast" ng-click="vm.route('BF')">
                <input type="button" value="First Snack Max 200 calories" name="firstsnack" class="firstsnack" ng-click="vm.route('FS')">
                <input type="button" value="Lunch Max 500 Calories " name="lunch" class="lunch" ng-click="vm.route('LN')">
                <input type="button" value="Second Snack Max 200 calories" name="ssnack" class="secondsnack" ng-click="vm.route('SS')">
                <input type="button" value="Dinner Max 500 Calories" name="diner" class="dinner" ng-click="vm.route('DN')"> </div>
            <div class="vertical-menu">

            <table  class="table table-hover">
            <thead>
                <tr>
                    <th class="active">Week's days</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in vm.weekArray" ng-click="vm.go(obj)">
                    <td ng-class="vm.customStyle.colorClass">{{obj.day}}</td>
                </tr>
            </tbody>
        </table>

            </div>
        </div>
        <div class="deitbuttons2">
            <div class="save-plan-wrapper save-personal-trainer-wrapper">
                <input type="button" value="Save" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('save')">
                <input type="button" value="Preview" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('preview')">
                <input type="button" value="Edit" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('edit')">
                <input type="button" value="Back" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('back')"> </div>
        </div>
    </div>
</div>
