<div class="maincontainer">
    <div class="innerbox">
        <p class="builddietplan"> Build your diet plan
    </div>
    <table class="innerwhitebox2" border="1">
        <tr>
            <th>Food</th>
            <th>Number of Calories</th>
            <th></th>
        </tr>
        <tr>
            <td> 3 Eggs</td>
            <td>400 calories</td>
            <td>
                <input type="checkbox"> </td>
        </tr>
        <tr>
            <td> 1 tuna</td>
            <td>100 calories</td>
            <td>
                <input type="checkbox"> </td>
        </tr>
    </table>
    <input type="button" class="savebutton2" value="Save" ng-click="vm.route('save')">
    <input type="button" class="deletebutton" value="Delete" ng-click="vm.route('delete')"> 
</div>