
<div class="maincontainer">
    <div class="workout-option">
        <div class="title-container">
            <div class="header2">
                <!--<p3>Best Gyms in your region within 20 miles</p3>-->
                <span class="choose-method">Build your diet plan</span>
            </div>
        </div>
        <div class="innerwhitebox">
         <input type="text" class="foodname">
         <label class="maxcalorieslabel">Total max{500}calories</label>
         <div class="caloriebox"></div>
         <input type="button" class="searchbutton" value="Search">
         <div class="contentcaloriebox">
         </div>
          <input type="button" class="addbutton" value="ADD">
       </div>
        <div class="deitbuttons">
       <div class="save-plan-button save-personal-trainer-button-container">
        <div class="save-plan-wrapper save-personal-trainer-wrapper">
          <input type="button" value="Save" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('save')">
          <input type="button" value="Preview" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('preview')">
          <input type="button" value="Edit" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('edit')">
          <input type="button" value="Back" name="save-personal-trainer" class="save-work-out-plan" ng-click="vm.route('back')">
        </div>
    </div>
    </div>
    </div>
</div>
