<div class="maincontainer">
    <div class="workout-option">
        <div class="title-container">
            <div class="header2">
                <!--<p3>Best Gyms in your region within 20 miles</p3>-->
                <span class="choose-method">Build your diet plan</span>
            </div>
        </div>
        <div class="innerwhitebox">
            <input type="text" class="foodname" ng-model="vm.food" ng-change="vm.example(vm.food)">
            <!--<label class="maxcalorieslabel">Total max{500}calories</label>-->
            <!--<div class="caloriebox"></div>-->
            <input type="button" class="searchbutton" value="Search" ng-click="vm.viewSearchResultsModal()">
            <input type="button" class="searchbutton2" value="Back" ng-click="vm.route('back')">
            <!--<div class="contentcaloriebox">-->
        </div>

    </div>
   
</div>